*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
body{
   background-color: rgb(20,20,20);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: rgb(99,99,99);
}

img{
   width: 100px;
   height: 100px;
   border-radius: 5px;
}

.cabecalho{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px;
}
.cabecalho .logo{
   
   width: 100px;
   height: 50px;
}
.cabecalho a{
   color: white;
}

.cabecalho a:hover{
   text-decoration: underline;
}
.container{
   min-width: 200px;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 20px;  
}
.container .titulo{
   font-size: 1.6em;
   margin: 10px;
   color: white;
}

.container .lista {
   margin: auto;
   display: flex;
   padding: 20px;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   flex-grow: 2;
   text-align: center; 
   cursor: pointer;
   
}

.lista li{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 20px;
   max-width: 150px;
   max-height: 150px;
   cursor: pointer;
}

.lista  .infantil{
   margin-left: 1px;
}

.lista img:hover{
   border: 3px solid white;
}
.diego:hover{
   color: white;
}

.jota:hover{
   color: white;
}
.erika:hover{
   color: white;
}
.bruno:hover{
   color: white;
}
.infantil:hover{
   color: white;
}

.botao{
   display: none;
}
.footer{
   font-size: 1.2em;
   color: white;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px;
}
.footer a{
   color: rgb(99,99,99);
}
.footer a:hover{
   opacity: 50%;
   text-decoration: underline;
}



@media screen and (min-width: 500px) {

   img{
      width: 150px;
      height: 150px;
   }
   .cabecalho{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .cabecalho .logo{
      width: 120px;
      height: 50px;
   }
   .cabecalho a{
      padding-right: 30px;
   }
   .container{
     min-width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
   }
   .container .titulo{
      font-size: 2.5em;
      font-weight: 700
   }
   .container .lista {
      display: flex;
      padding: 20px;
      flex-direction: row;
      text-align: center;
      
   }
   .lista  .infantil{
      margin: auto;
   }
   .lista  .infantil p{
     padding: 0;
   }

   .botao{
      display: flex;
      cursor: pointer;
   }
   .btn{
      color:rgb(99,99,99) ;
      background-color: transparent;
      padding: 10px 40px 10px 40px;
      border-radius: 2px;
      font-size: 1.2em;
      border: 2px solid rgb(99,99,99);
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      cursor: pointer;
   }
   .btn:hover{
      color: white;
      border: 2px solid rgb(255, 255, 255);
   }

   .footer{
      font-size: 1.2em;
      color: white;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 10px;
   }

}
